*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
}
.table-container{
    height: 100%;
    width: 100%;
    overflow-x: auto;
}
table{
    width: 100%;
    height: auto;
}
table, tr, td, th{
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
}
tr,td,th{
    padding: 10px;
    text-align: center;
} 
img{
    width: 80px;
    height: 125px;
}


.edit{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    transform: translate(50%,0);
    user-select: none;
}
.delete{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 30px;
    transform: translate(50%,0);
    user-select: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    gap: 10px;
}
.goBack{
    width: 100%;
    background: linear-gradient(to top, black, white);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.goBack a{
    display: block;
    width: fit-content;
}

.link{
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;
}
.linkStore{
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
}